[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
bin/Debug/AppInstaller.exe
bin/Debug/AppInstaller.exe.config
bin/Debug/AppInstaller.pdb
obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
obj/Debug/AppInstaller.csproj.AssemblyReference.cache
obj/Debug/AppInstaller.csproj.CoreCompileInputs.cache
obj/Debug/AppInstaller.csproj.FileListAbsolute.txt
obj/Debug/AppInstaller.csproj.GenerateResource.cache
obj/Debug/AppInstaller.exe
obj/Debug/AppInstaller.Form1.resources
obj/Debug/AppInstaller.pdb
obj/Debug/AppInstaller.Properties.Resources.resources
